@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
}

.transition{
  transition: all 0.3s linear;
}

.bg-chart{
  background-color: rgba(71, 22, 105, 0.726);
}

.h-custom{
  height: calc(100vh - 300px);
}

.h-custom2{
  height: calc(100vh - 150px);
}